@model IEnumerable<WebMVC.Models.TransactionModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text text-center">
    <i class="fas fa fa-comment-dollar text-success"></i>
    Transactions History
</h1>
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>


